@import 'scss/main-content';
@import 'scss/nav-menu';
@import 'scss/_resume.scss';

h1 {
    font-size: 50px;
}

ul {
    list-style: none;
    padding: 0;
}

b {
    font-size: 18px;
}

.grey {
    color: #999999;
}

p {
    margin-bottom: 0;
}

.margin-top {
    margin-top: 20px;
}

#root {
    background-color: #e6e9f0;
    min-height: 100vh;
    position: absolute;
    width: 100%;
}

.main-grid {
    display: grid;
    grid-template-columns: 15% 85%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}